<ion-header>
  <ion-navbar>   
     <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Dispute Results
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- heading content -->
  <ion-grid>
  <ion-row>
    <ion-col>
      <div><h6 no-margin>{{disputeObj.title}}</h6></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><p no-margin>{{disputeObj.description}}</p></div>
    </ion-col>
  </ion-row>
  <!-- <p text-center margin> <strong>you think <a class="text-middle-color" href="">{{disputeObj.username}}</a> is right ?</strong> </p> -->
 <ion-row>
    <ion-col>
     <p text-center margin *ngIf='disputeObj.dispute_que'> <strong> {{disputeObj.dispute_que}} <!--Do you think <a class="text-middle-color" href="">{{disputeObj.username}}</a> this is right ?--></strong> </p>
     <p text-center margin *ngIf='!disputeObj.dispute_que' > <strong> {{disputeObj.title}} <!--Do you think <a class="text-middle-color" href="">{{disputeObj.username}}</a> this is right ?--></strong> </p>
<!-- canvas --></ion-col></ion-row>

  <ion-row class="vote-section">
    <ion-col>
    <!-- grap content -->
      <div style="display: block">
        <canvas baseChart height="150"
                [data]="ChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColors"
                [options]="doughnutChartOption"
                (chartClick)="chartClicked($event)">
    
        </canvas>
      </div>
    </ion-col>
     <ion-col class="vote-center">
        <h1 *ngIf="!clickpercentage"><p class="percentage"><strong>{{yespercentage}}%</strong></p> <p class="yes">Yes</p> <p *ngIf="totalcount==1">{{totalcount}} vote</p>
          <p *ngIf="totalcount==0">{{totalcount}} votes</p>
        <p *ngIf="totalcount>1">{{totalcount}} votes</p> </h1>

        <!-- <h1 *ngIf="clickpercentage">{{clickpercentage}}%{{clickcontant}}<p>{{totalcount}}vote</p></h1> -->
    </ion-col>
  </ion-row> 

  
  
  <ion-row class="prog_bar" align-items-center>
    <ion-col col-3 text-left >Yes</ion-col>
    <ion-col col-6>
      <progress-bar class="prog_bar_height" [progress]="yespercentage" [color]="'#05d587'"></progress-bar>
    </ion-col>
    <ion-col col-2>
      {{yespercentage}}%
    </ion-col>
    <ion-col col-1>
      {{yescount}}
    </ion-col>
  </ion-row>

  <ion-row class="prog_bar" align-items-center>
    <ion-col col-3 size="2" text-left>
      No
    </ion-col>
    <ion-col col-6>
      <progress-bar class="prog_bar_height" [progress]="nopercentage" [color]="'#bd363d'"></progress-bar>
    </ion-col>
    <ion-col col-2>
      {{nopercentage}}%
    </ion-col>
    <ion-col col-1>
      {{nocount}}
    </ion-col>
  </ion-row>

  <ion-row class="prog_bar" align-items-center>
    <ion-col col-3 text-left>
      unsure
    </ion-col>
    <ion-col col-6>
      <progress-bar class="prog_bar_height" [progress]="unsurepercentage" [color]="'#007aff'"></progress-bar>
    </ion-col>
    <ion-col col-2>
      {{unsurepercentage}}%
    </ion-col>
    <ion-col col-1>
      {{unsurecount}}
    </ion-col>
  </ion-row>

   <ion-row class="prog_bar">
  
    
      <ion-col col-4 text-left><ion-item lines="none" no-padding no-margin class="comment-section">
         <p class="account-left_comment" *ngIf="commlenght =='1'"><strong> {{commlenght}} Comment</strong></p>
         
        <p class="account-left_comment" *ngIf='commlenght != "1"'><strong>{{commlenght}} Comments</strong></p></ion-item>
      </ion-col>
      <ion-col col-4 text-right>
      
      </ion-col>
      <ion-col col-4 text-right>
        <ion-item lines="none" no-padding no-margin class="comment-section">
        <p> Most Popular</p>
         </ion-item>
      </ion-col>
   
  </ion-row>

  <ion-row>
  <ion-col *ngFor="let data of comments" class="comment-description">
    <ion-item no-lines>
      <ion-avatar item-start>
        <img [src]="data.image==undefined || data.image.length<=0 ?'assets/imgs/profile-placeholder.png' : imgBaseurl+data.image">
      </ion-avatar>
       <h4 style="font-size:17px" >{{data.username}} </h4>
  
       
       <button *ngIf="data.likes==1" [disabled]="data.userid==userId"  (click)="updatedesion(data.cid)" item-end>   
            <ion-icon name="thumbs-up" color="blue"></ion-icon>
       </button>

       <button *ngIf="data.likes==0" [disabled]="data.userid==userId"  (click)="likeunlike(data.cid , 1,data.memsid)" item-end>   
          <ion-icon name="thumbs-up"></ion-icon>
       </button>

       <button *ngIf="data.unlikes==0" [disabled]="data.userid==userId" (click)="likeunlike(data.cid , 0,data.memsid)" item-end>
            <ion-icon name="thumbs-down"></ion-icon>
       </button>

        <button *ngIf="data.unlikes==1" [disabled]="data.userid==userId" (click)="updatedesion(data.cid)" item-end>   
          <ion-icon name="thumbs-down" color="blue"></ion-icon>
       </button>
{{data.dislikes}}
      <!--   <ion-icon name="thumbs-up" (click)="likeunlike(data.cid , 1)" item-end>{{data.likes}}</ion-icon>
      <ion-icon name="thumbs-down" (click)="likeunlike(data.cid ,0)" item-end>{{data.unlikes}}</ion-icon> -->

    </ion-item>

    <p class="comment">{{data.comment}}</p>

  </ion-col>
</ion-row>
  </ion-grid>
</ion-content>







