page-postsubmited {

  hr {
        background-color: #c8c8c8;
        margin: 10px 0;
    }
    .text-middle {
      text-align: center;
      margin-bottom: 20px;
    }
    .user-name{
      ion-avatar {
        min-width: 72px;
        min-height: 72px;
        img{
          width:72px;
          height: 72px;
        }
     }
      .vote-img_center{
        margin: auto;
        &+ .item-inner{
        display: none;
        }
      }
      .item {
        padding: 0;
        // max-width: 140px;
        margin: auto;
        .label{
          overflow: visible;
        }
      }
      h2{
        color: $linkColor;
      }
      .item-inner {
        border: none !important;
      }
    }

    [radio-group] .card {
      border-radius: 50px;
      border: 1px solid #c8c8c8;
      box-shadow: none;
      margin: 0 0 16px;
      width: 100%;
      .item-inner {
        flex-direction: row-reverse;
        .input-wrapper {
          text-align: center;
          text-indent: -44px;
       }
      }
      .item-radio{
        background-color: #f2f2f2;
      }
   }

   form .card{
    border-radius: 6px;
    border: 1px solid #c8c8c8;
    box-shadow: none;
    margin: 0 0 16px;
    width: 100%;
   }
   .button{
     box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
     height: 45px;
     text-transform: uppercase;
     border-radius: 50px;
     font-size: 1.4rem;
     font-weight: 700;
   }
  @media only screen and (min-height:730px){
    hr {
      margin: 20px 0;
  }
    textarea{
      min-height: 145px;
    }
  }
  .vote-text {
    // white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

 .grid {
        padding: 0;
        ion-col{
            padding:0;
        }
    }
    .homeimage {
        margin: auto;
        width: 80%;
    min-width: 230px;
    }
    .button {
        height: 2.8em;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        border-radius: 2.8em;
        text-transform: unset;
        font-weight: 500;
        font-size: 1.6rem;
        margin: 16px 0;
        padding: 30px;
    }

    // =========
    .label h5 {
      margin: 0;
  }
  .scroll-content {
    padding-top: 40px !important;
}
}
