page-mydispute {
  
  .list{
        .item{
            padding-left: 0;
            border-top:none !important;
            border-bottom: 0.55px solid #c8c7cc !important;
            .item-inner{
                padding-right: 0;
                border-bottom: none;
                h2{
                    color: #007aff;
                    text-transform: capitalize;
                    font-size: 1.5rem;
                    font-weight: 500;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .small-text h3 {
                    font-size: 12px; 
                    margin: 0;
                }
                p{
                    margin: 5px 0 0;
                }
                .ion-ios-arrow-forward{
                    color: #c8c7cc;
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
    .item-select {
        border: 1px solid color($colors, light) !important;
        margin-bottom: 16px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    strong {
   
     color:#007aff;
     color:#000;
     font-weight: bold;
          }
          .item-select{
            padding-left:0;
            ion-select {
                width: 100%;
              }
              .label{
                margin: 0;
                  }
           }
}
