page-forget-password{
    ion-content{
        color: black;
        text-align: center;
          .logo  img{
            max-width: 230px;
            display: block;
            margin: 20px auto 0;
            height: 30vh;
            width: 30vh;
        }
        .row-main{
         // margin-top: 80px;
        }
        h6, div{
          color:#000;
        }
    
        h2 {
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 700;
        }
        h3{
          margin: 0;
          color: #000;
          font-size: 18px;
          position: relative;
          padding-bottom: 20px;
          text-transform: uppercase;
            &:after {
              content: "";
              left: 50%;
              bottom: 0;
              width: 25px;
              height: 4px;
              background-color: #000;
              position: absolute;
              border-radius: 5px;
              transform: translateX(-50%);
            }
        }
        p.lead {
            line-height: 1.42;
        }
     
    
        .btn-submit {
          --padding-start: 0;
          --padding-end: 0;
          height: 48px;
          width: 48px;
          ion-icon {
              color: #fff;
          }
      } 
     
    }
    
    .item-input ion-input{
    width: 100%;
    background-color: #ffc833;
     color:black;
    }   
    ion-item{
         background-color: #ffc833;

    }
    ion-label{
      background-color: #ffc833;
    }
    .item-input{
      border-radius: 20px;
      background-color: #ffc833;
    }  
    
}

